{% if bookmarks %}
<ul class='bookmarks'>
    {% for bookmark in bookmarks %}
    <li>
        <a href ='{{ bookmark.url.link | escape}}' class ='title'>{{ bookmark.title | escape }}</a>
        {% if show_edit %}
        <a href="/save/?url={{ bookmark.link.url| urlencode }}"
        class="edit">[edit]</a>
        {% endif %}
        <br />
        {% if show_tags %}
        Tags:
        {% if bookmark.tags_set.all %}
          <ul class='tags'>
              {% for tag in bookmark.tags_set.all %}

              <li><a href ='/tag/{{tag.name | urlencode}}/'>{{ tag.name |escape }}</a></li>
             {% endfor %} 
          </ul>
          {% else %}
          NONE.
          {% endif %}
          <br />
          {% endif %}
          {% if show_user %}
          Posted By:
           <a href = '/user/{{bookmark.user.username}}/' class ='username'>{{bookmark.user.username}}</a>
          {% endif %}
          
    </li>
    {% endfor %}
</ul>
{% if show_paginator %}
<div class="paginator">
{% if bookmarks.has_previous %}
<a href="?page=1">&laquo; first</a>
<a href="?page={{ bookmarks.previous_page_number }}"> Previous</a>
{% endif %}
<span class="current">
    Page {{ bookmarks.number }} of {{ pages }}.
    </span>
{% if bookmarks.has_next %}
<a href="?page={{ bookmarks.next_page_number }}">Next</a>
<a href="?page={{pages }}">last &raquo;</a>
{% endif %}

</div>
{% endif %}
{% else %}
<p>No Bookmark found </p>
{% endif %}
